body {
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    font-family: 'Open Sans';

}

header {
    /*background-color: rgb(145, 211, 250);*/
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .account-info {
    /* ikon ve resmi koymadan onceki hazırligimiz
    background-color: grey;
    height: 100%;
    width: 20%; */
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.35rem;
    /* zil ikonu ve profil resmi arasindaki bosluk*/
    margin-right: 2rem;
}

header .account-info .notifications {
    color: #000000;
    font-size: 1.35rem;
    cursor: pointer;
    margin-top: 0.5rem;
    /* zil ikonu ve profil resmi arasindaki dikey hizalanma icin verdigimiz bosluk  */

}

.logo-witflix {
    height: 4vh;
    margin-left: 2rem;
}

header .account-info .profile-img {
    height: 9.1vh;
    border-radius: 100%;
    border-style: outset;
    border-width: 0.15rem;
    border-color: #ff0000;
}

header nav {
    /*kelimelerin aralarini açmak icin eklendi */
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

header nav a {
    text-decoration: none;
    color: #FF0000;
    font-size: 1.2rem;
    font-weight: bold;


}

.play-button {
    background-color: #FF0000;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    display: flex;
    align-items: center;
    border-style: none;
    border-radius: 0.5rem;
    width: fit-content;
    padding: 0.45rem 0.85rem;
    cursor: pointer;
    margin-top: 1rem;

}

main .play-button i {
    font-size: 2.1rem;
    padding-left: 2.5rem;
}

main .play-button span {
    margin-right: 1.5rem;
    padding-right: 1.5rem;
}

.movies-line .play-button {
    padding: 0.2rem;
    font-size: 1rem;
}

.movies-line .play-button i {
    font-size: 2rem;

}

.movies-line .play-button span {
    margin-right: 0.4rem;
    padding-right: 0.1rem;
}

main {
    background-image: url("images/main content cover image.jpg");
    /* onceki hali icin background-color: rgb(144, 178, 250);*/
    height: 78vh;
    width: 100%;
    background-position: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2.2rem;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 4rem;


}

main p,
h2 {
    margin: 0rem;
    padding: 0rem;
}

main .main-content {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    /* rating ile aciklama arasindaki bosluk */
    max-width: 47%;
    margin-top: -2.9rem;
    text-align: justify;
}

main .main-details {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
    max-width: 47%;
    margin-top: 1.9rem;
}


main .main-details strong {
    color: red;
}


main h2 {
    color: white;
    text-transform: uppercase;
    font-size: 2rem;

}

.content-details {
    display: flex;
    flex-direction: row;
    gap: 1.55rem;
    color: white;
}

main .rating i {
    color: #FF0000;
    letter-spacing: -2.9px;
}

main .rating .number {
    color: white;
    font-weight: 600;
    font-size: 0.9rem;
}

main .rating .source {
    color: rgb(187, 187, 187);
    font-size: 0.9rem;
}

.age {
    font-size: 0.9rem;
    border-style: solid;
    border-color: white;
    border-width: 1px;
    border-radius: 0.2rem;
    max-width: 100%;

}

.duration {
    font-weight: 600;
    font-size: 0.9rem;
}

/*hazirlik icin arka plan: section {
    background-color: rgb(127, 255, 249);
    height: 27vh;
    width: 100%; 
}*/

.movies-line h3 {
    color: white;


}

.movies-line {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.movies-line .card-wrapper {
    background-color: rgba(0, 0, 0, 0.18);
    backdrop-filter: blur(00.04rem);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    padding-bottom: 2.5rem;
    gap: 0.6rem;
    box-sizing: border-box;
    background-repeat: no-repeat;
    margin: 0rem;

}


.movie-card {
    background-image: url("images/interstellar.jpg");
    background-position-y: 55%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 32%;
    height: 38vh;

}

.movie-card-4 {
    background-image: url("images/matrix2.jpg");
    background-position-y: 55%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 32%;
    height: 38vh;

}




.section-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 0rem;
    margin-bottom: -0.2rem;


}

.section-header h3 {
    font-size: 1.1rem;

}



.section-header a {
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;

}

footer {
    /* background-color: rgb(0, 119, 255);
    height:14vh; */
    width: 100%;
    margin-top: 4.8rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

footer .disclaimer {
    width: 52%;
}

footer .disclaimer nav {
    display: flex;
    gap: 2rem;
    margin-left: 1.5rem;
}

footer .disclaimer nav a {
    text-decoration: none;
    color: black;
}

footer .disclaimer p {
    margin-top: 1.8rem;
    margin-left: 1.5rem;
    color: rgb(61, 61, 61);
    text-align: justify
}


footer .disclaimer .bold-section {
    font-weight: bold;
}

footer .social-media {
    width: 20%;
    /*background-color: #FF0000;*/
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-left: 4rem;

}

footer .social-media .icons {
    display: flex;
    flex-direction: row;
    gap: 0.6rem;

}

footer .social-media .icons img {
    width: 2.8rem;
}


footer .apps {
    width: 28%;
    /*background-color: aqua;*/
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    margin-left: -2rem;

}

footer .apps .app-icons {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;

}

footer .apps .app-icons img {
    width: 9.5rem;

}

@media screen and (max-width: 400px) {

    header {
        flex-direction: column;
        height: fit-content;
        gap: 1rem;
        margin-top: 1rem;

    }

    header .logo-witflix {
        margin-left: 0rem;
    }

    header nav {
        flex-direction: column;
        text-align: center;
        width: 100%;

    }

    header nav a {
        background-color: #FF0000;
        color: white;
        padding: 0.7rem 0;

    }

    header .account-info .profile-img {
        height: 6vh;
    }

    header .account-info .notifications {

        font-size: 3vh;
        margin-top: 0rem;

    }

    main {
        height: 68vh;
        background-position-x: 85%;
        background-position-y: 30%;
        background-repeat: no-repeat;
        background-size: cover;
        padding: 6.5rem 0.5rem 0.5rem 0.5rem;

        flex-direction: column;
        margin-top: 1rem;
        gap: 4rem;

    }

    main .main-content {

        gap: 0.2rem;
        /* rating ile aciklama arasindaki bosluk */
        max-width: 100%;
        /*margin-top: -0.8rem ;*/

        background-color: rgba(0, 0, 0, 0.48);
        backdrop-filter: blur(00.3rem);
        padding: 0.5rem;
        border-radius: 0.5rem;
        font-size: 0.9rem;
    }

    main .main-details {

        gap: 0rem;
        max-width: 100%;
        margin-top: -3.8rem;
        font-size: 0.8rem;
        background-color: rgba(0, 0, 0, 0.48);
        backdrop-filter: blur(00.3rem);
        padding: 0.5rem;
        border-radius: 0.5rem;
    }

    .content-details {
        gap: 0.9rem;

    }

    main h2 {

        padding-bottom: 7.5rem;
        padding-top: 0rem;
        text-align: center;
        margin-top: -1.8rem;

    }

    .play-button {
        margin-top: 0.5rem;
        height: 5vh;
        padding: 0rem;
        margin-left: 4.5rem;


    }

    main .play-button i {
        text-align: center;
        padding-left: 2.7rem;

    }

    .movies-line {
        flex-direction: column;
        gap: 1rem;

    }

    .movies-line .movie-card {
        width: 100%;
    }

    .movies-line .movie-card-4 {
        width: 100%;
    }

    .movies-line .card-wrapper {

        padding-bottom: 0rem;
        gap: 0rem;

    }

    .movies-line .play-button {
        padding: 0.2rem 1rem;
        font-size: 1rem;
        margin-top: 2rem;
        margin-left: 5rem;
    }


    footer {
        flex-direction: column;
    }

    footer .disclaimer {
        width: 100%;
    }

    footer .disclaimer nav {
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        margin-left:0rem;
    }

    footer .disclaimer .bold-section { 
        
        margin-left: 0rem;
    }

    footer .disclaimer p { 
        
        margin-left: 0rem;
    }

    footer .social-media {
        width: 100%;
        align-items: center;
        margin:0rem;
    }

    footer .apps {
        width: 100%;
        align-items: center;
        margin: 0rem;
    }

     footer .apps .app-icons{
        flex-direction: column;
        padding-bottom: 2rem;
        gap: 0rem;
    }


}